<div class="boomsummary-panel">
  <div id="boomsummary-editor-options">
    <div class="editor-row">
      <div class="section gf-form-group">
        <div class="gr-form-inline">
          <div class="gf-form">
            <h6 class="text-header">Repeater / Group By options</h6>
          </div>
        </div>
        <div class="gr-form-inline">
          <div class="gf-form">
            <label class="gf-form-label width-20">Repeat Mode</label>
            <span class="mini-split"></span>
            <input
              type="checkbox"
              class="width-4"
              ng-model="ctrl.panel.repeatmode"
              ng-blur="ctrl.render()"
              ng-change="ctrl.render()"
              data-ng-change="ctrl.render();"
            />
          </div>
        </div>
        <div class="gr-form-inline" ng-if="ctrl.panel.repeatmode === true">
          <div class="gf-form">
            <label class="gf-form-label width-20">Repeat Column</label>
            <span class="mini-split"></span>
            <input
              type="text"
              placeholder="Field Name"
              class="gf-form-input width-12"
              ng-model="ctrl.panel.repeatcolumn"
              bs-typeahead="ctrl.colnames"
              ng-blur="this.render()"
              data-min-length="0"
              data-items="100"
              ng-model-onblur
              data-placement="right"
              data-ng-change="ctrl.render();"
            />
            <span class="mini-split"></span>
          </div>
        </div>
        <div class="gr-form-inline" ng-if="ctrl.panel.repeatmode === true">
          <div class="gf-form">
            <label class="gf-form-label width-20"
              >Repeat Width ( 1 to 12 ); 12 == 100%</label
            >
            <span class="mini-split"></span>
            <input
              type="text"
              placeholder="Repeater width ( 1 to 12 ); 12 == 100%;"
              class="gf-form-input width-12"
              ng-model="ctrl.panel.repeatwidth"
              ng-blur="this.render()"
              data-min-length="0"
              data-items="100"
              ng-model-onblur
              data-placement="right"
              data-ng-change="ctrl.render();"
            />
            <span class="mini-split"></span>
            <label class="gf-form-label width-20">Margin Bottom in pixel</label>
            <span class="mini-split"></span>
            <input
              type="text"
              placeholder="20"
              class="gf-form-input width-12"
              ng-model="ctrl.panel.repeat_margin_bottom"
              ng-blur="this.render()"
              data-min-length="0"
              data-items="100"
              ng-model-onblur
              data-placement="right"
              data-ng-change="ctrl.render();"
            />
            <span class="mini-split"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
